<nav class="editor sticky-bottom" id="nwEditorPanel">
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#/nw/add" role="button" aria-expanded="false" nw-hotkey="a|ф"
            >
                <i class="nwi-file-plus"></i>
                <label><%= l('Editor. Add button', $l) %></label>
                <em>[a]</em>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="#/nw/mkdir">
                        <i class="nwi-folder-plus me-2"></i>
                        <span><%= l('Editor. Add folder', $l) %></span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#/nw/add">
                        <i class="nwi-file-plus me-2"></i>
                        <span><%= l('Editor. Add file', $l) %></span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#/nw/edit" role="button" aria-expanded="false" nw-hotkey="w|ц"
            >
                <i class="nwi-edit"></i>
                <label><%= l('Editor. Edit button', $l) %></label>
                <em>[w]</em>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="#/nw/content">
                        <i class="nwi-feather me-2"></i>
                        <span><%= l('Editor. Edit content', $l) %></span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#/nw/options">
                        <i class="nwi-settings me-2"></i>
                        <span><%= l('Editor. Edit options', $l) %></span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#/nw/ls" role="button" aria-expanded="false" nw-hotkey="d|в"
            >
                <i class="nwi-dir-tree"></i>
                <label><%= l('Editor. File manager button', $l) %></label>
                <em>[d]</em>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="#/nw/content">
                        <i class="nwi-file me-2"></i>
                        <span><%= l('Editor. Edit content', $l) %></span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#/nw/options">
                        <i class="nwi-options me-2"></i>
                        <span><%= l('Editor. Edit options', $l) %></span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#/nw/config" role="button" aria-expanded="false" nw-hotkey="e|у"
            >
                <i class="nwi-settings"></i>
                <label><%= l('Editor. Settings button', $l) %></label>
                <em>[e]</em>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="#/nw/sources">
                        <i class="nwi-file me-2"></i>
                        <span><%= l('Editor. Sources button', $l) %></span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#/nw/users">
                        <i class="nwi-users me-2"></i>
                        <span><%= l('Editor. Users button', $l) %></span>
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="#/nw/me">
                        <i class="nwi-user me-2"></i>
                        <span><%= l('Editor. Profile button', $l) %></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>